body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url(https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(46, 44, 44, 0.7);
    max-width: 600px;
    height: auto;
    margin: 80px;
    padding: 10px 10px;
    border-radius: 12px;
}

.flex-container > a {
    width: 100px;
    background-color: #DB3030;
    border: none;
    color: white;
    padding: 12px 35px;
    margin: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.flex-container > p , h1 {
    text-align: justify;
    padding: 8px;
    margin: 4px;
}

.flex-container > h1 {
    font-weight: 700;
}

.flex-container > p {
    font-weight: 400;
}
